{% extends "base.html" %} {% block title %} География {% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center my-4">География</h1>
        {% for plot in plots %}
            <div style="width: fit-content;" class="text-center">
                <img src="{{ plot.image.url }}" alt="plot">
            </div>
        {% empty %}
            <div style="width: fit-content;" class="text-center">
                <img src="{% static 'images/plots/vacancies_by_city_filtered.png' %}" alt="plot" width="900px">
            </div>
        {% endfor %}
        {#    <img src="{% static 'images/plots/vacancies_by_city_filtered.png' %}" alt="plot">#}
        {% for title, table in tables %}
            <h2>{{ title }}</h2>
            {{ table|safe }}
        {% endfor %}
    </div>
{% endblock %}