{% extends 'base.html' %} 
{% block title %} Home page {%  endblock %}
{% load static %}
{%  block content %}
    <div class="container">
        <h1 class="text-center my-4">Разработчик игр</h1>
        <div class="text-center">
            <img src="{% static 'images/i-gamedev.jpg' %}" alt="game developer" class="img-fluid rounded" width="700px">
        </div>
        <p class="mt-4"><strong>Разработчик видеоигр </strong>— это разработчик программного обеспечения, 
            специализирующийся на разработке видеоигр — процессе и связанных с ним дисциплинах из области создания видеоигр. 
            <strong>Разработчиком игр</strong> может быть как единственный человек, который берёт на себя все задания, 
            так и большое предприятие с разделением обязанностей между сотрудниками по областям деятельности — программирование, 
            дизайн, художественная составляющая, тестирование и т. д. Большинство компаний — разработчиков видеоигр 
            имеют финансовую поддержку издателей и обычно маркетинговую поддержку.<strong> Разработчики</strong>, существующие 
            за счёт собственных ресурсов, известны как независимые или инди-разработчики и обычно создают инди-игры. 
            <strong>Разработчики видеоигр</strong> специализируются на определённых жанрах игр 
            (как, например, ролевые видеоигры или шутеры от первого лица). Некоторые концентрируют свою 
            деятельность на портировании игры из одной системы в другую, некоторые на переводе игры с одного языка 
            на другой. Реже некоторые компании, помимо разработки игр, занимаются другими видами работ по разработке 
            программного обеспечения.</p>
    </div>
{% endblock %}