{% extends "base.html" %} {% block title %} Последние вакансии {%  endblock %}
{% load static %}
{% block content %}
    <h1>Последние вакансии</h1>
    <ul>
    {% for vacancy in vacancies %}
        <li>
            <h2>{{ vacancy.name }}</h2>
            <p>{{ vacancy.description }}</p>
            <p>Навыки: {{ vacancy.snippet.requirement }}</p>
            <p>Компания: {{ vacancy.employer.name }}</p>
            <p>Оклад: {{ vacancy.salary.from }} - {{ vacancy.salary.to }}</p>
            <p>Регион: {{ vacancy.area.name }}</p>
            <p>Дата публикации: {{ vacancy.published_at }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}