{% extends "base.html" %}
{% block title %} Навыки {% endblock %}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Навыки</h1>
        {% for skill in skills %}
            <div style="width: fit-content;" class="text-center">
                <img src="{{ skill.image.url }}" alt="skill">
            </div>
        {% empty %}
            <div style="width: fit-content;" class="text-center">
                <img src="{% static 'images/plots/skills_by_year_2023.png' %}" alt="skill" width="800px">
                <img src="{% static 'images/plots/skills_by_year_filtered_2023.png' %}" alt="skill" width="800px">
            </div>
        {% endfor %}
        {% for title, table in tables %}
            <h2>{{ title }}</h2>
            {{ table|safe }}
        {% endfor %}
    </div>
{% endblock %}